<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube to MP3/MP4 Converter</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webstomp-client/dist/webstomp.min.js"></script>
  <link href="./static/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="app">
    <div class="converter-container">
        <h1>YouTube to {{ format.toUpperCase() }} Converter</h1>
        <div class="input-container">
            <input type="text" v-model="url" placeholder="Paste YouTube URL here...">
        </div>
        <div class="button-container">
            <button @click="convert">Convert</button>
            <div class="switch">
                <input v-model="isMP4" class="switch-checkbox" id="switchID1" type="checkbox" name="switch-checkbox">
                <label class="switch-label" for="switchID1">
                    <span class="switch-txt" turnOn="MP4" turnOff="MP3":data-format="isMP4 ? 'MP4' : 'MP3'"></span>
                    <span class="switch-Round-btn"></span>
                </label>
                <!-- <p>{{isMP4}}</p> -->
            </div>
        </div>
        <!-- 加載中的轉圈動畫 -->
    <div v-if="isLoading" class="loader-container">
        <div class="loader">
          <!-- <div class="loader-percentage">{{ loadingPercentage }}%</div> -->
        </div>
      </div>
        <!-- <button @click="downloadMP3Test">downloadMP3test</button> -->
        <!-- <button @click="socketTest">socketTest</button> -->
        <button v-if="filename" @click="downloadMP3">Download {{ downloadformat.toUpperCase() }}</button>
        <div class="error">
          {{ errorMessage }}
      </div>
      <div class="success">
        {{ successMessage }}
    </div>
    <div v-if="embedUrl" class="embedUrl">
      <iframe :src="embedUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
  <script src="./static/script/common.js"></script>
  <script src="./static/script/script.js"></script>
</body>
</html>
